{% extends 'base.html' %}
{% block nav %}
    <tr>
    <!-- Sidebar слева -->
    <td valign="top" class="left-chapters">
        <ul id="leftchapters">
            <li class="selected">Все категории</li>
            {% for cat in categories %}
                <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
            {% endfor %}
                <li class="share">
                    <p>Наш канал</p>
                    <a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists"
                       target="_blank" rel="nofollow"></a>
                </li>
        </ul>
    </td>
{% endblock nav %}

{% block content %}
    <input type="text" name="id" style="color: blue" \>
    <input type="text" name="title" style="color: blue"\>
    <input type="text" name="content" style="color: blue"\>
    <input type="text" name="Is published" style="color: blue"\>
    <input type="submit" name="Save">
{% endblock content %}